<div class="resource-list col-xs-12">
    <div class="row" ng-repeat="(key, value) in $ctrl.resources" ng-if="value[2] === true" data-attr="{{$ctrl.resourceTypes[key].attr}}" lvl-drop-target="true" on-drop="$ctrl.dropped(dragId, dropId, relativePos, key)">
        <div class="col-xs-12 col-sm-2">
            <h5 uib-tooltip="{{$ctrl.resourceTypes[key].desc}}">{{$ctrl.resourceTypes[key].name}}</h5>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="progress progress-custom" ng-if="value[1] !== -1">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{value[0]}}" aria-valuemin="0" aria-valuemax="{{value[1]}}" ng-style="{width: (100*(value[0]/value[1])) + '%'}">
                    <span class="workers">
                        <i class="fa" ng-class="$ctrl.getWorkerIcon(key)"></i>
                        <span ng-bind="$ctrl.getWorkerRate(key)"></span>/tick

                    </span>
                    <span class="amounts" ng-bind="value[0] + ' / ' + value[1]"></span>

                </div>
            </div>
            <div class="progress progress-custom" ng-if="value[1] === -1">
                <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" ng-style="{width: '100%'}">
                    <span class="workers">
                        <i class="fa" ng-class="$ctrl.getWorkerIcon(key)"></i>
                        <span ng-bind="$ctrl.getWorkerRate(key)"></span>/tick
                    </span>
                    <span class="amounts" ng-bind="value[0]"></span>
                </div>
            </div>

        </div>

    </div>
</div>



<!--
<table class="table table-condensed">
    <tbody>
        <tr ng-repeat="(key, value) in $ctrl.resources" ng-show="value[1] > 0">
            <td ng-bind="$ctrl.resourceTypes[key]"></td>
            <td ng-bind="(value[0] + ' / ' + value[1])"></td>
        </tr>
    </tbody>
</table>
-->