fieldset {
    min-height: 250px;
}
body { padding-top: 70px; }

.genomeEditor {
    font-size: .7em;
    input {
        color: black;
        width: 4em;
    }
}

.bloqhead-component {
    border: 1px solid grey;
    padding: 2px 2px;
    margin-bottom: 2px;
}

.log-component {
    height: 200px;
    overflow-y: scroll;
    .color-general {
        color: #83997E;
        background-color: #374C32;
    }
    .color-breed {
        color: #7E7F99;
        background-color: #32334C;
    }
    .color-achievement {
        color: #994C46;
        background-color: #4C0701;
    }
}