<div class="col-xs-12" title="">
    <div class="row">
        <div class="col-xs-5">Building</div>
        <div class="col-xs-2">Owned</div>
    </div>
    <div class="row" ng-repeat="building in $ctrl.buildings" style="padding-bottom: 5px">
        <div class="col-xs-5">
            <h5 uib-tooltip="{{building.description}}">{{building.name}}</h5>
        </div>
        <div class="col-xs-2">
            <h5 ng-bind="building.owned"></h5>
        </div>
        <div class="col-xs-4">
            <div style="display: inline-block;" tooltip-placement="top" uib-tooltip-template="'resourceTooltip.html'">
                <button ng-disabled="!building.canBuild" ng-if="building.costToBuild.length > 0" class="btn btn-sm btn-primary" ng-click="$ctrl.build(building.type)">Build</button>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="resourceTooltip.html">
        <div>
            <h5>Requires</h5>
            <div ng-repeat="cost in building.costToBuild"><span ng-bind="cost.resource"></span>: <span ng-bind="cost.amount"></span></div>
        </div>
    </script>
</div>