<div class="col-xs-12" title="">
    <div class="row">
        <div class="col-xs-2">Building</div>
        <div class="col-xs-offset-1 col-xs-2">Owned</div>
        <div class="col-xs-4">Cost to Build</div>
    </div>
    <div class="row" ng-repeat="building in $ctrl.buildings">
        <div class="col-xs-5">
            <h5 uib-tooltip="{{building.description}}">{{building.name}}</h5>
        </div>
        <div class="col-xs-offset-1 col-xs-2">
            <span ng-bind="building.owned"></span>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-sm btn-primary" uib-tooltip="{{building.tooltip}}">Build</button>
        </div>
    </div>

</div>