<div ng-init="$ctrl.hideme=false">
    <div id="sidebar" ng-class="$ctrl.hideme ? 'home-hide' : ''">
        <div class="row">
            <div class="col-xs-12">
                <bloqhead-player-box box-title="Log">
                    <bloqhead-log></bloqhead-log>
                </bloqhead-player-box>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-xs-12">
                <bloqhead-player-box boxTitle="Goals">
                    <bloqhead-goal-list></bloqhead-goal-list>
                </bloqhead-player-box>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xs-12">
                <bloqhead-player-box box-title="Resources">
                    <bloqhead-resource-list></bloqhead-resource-list>
                </bloqhead-player-box>
            </div>
        </div>
    </div>
    <div id="toggle" ng-class="$ctrl.hideme ? 'home-hide' : ''" ng-click="$ctrl.hideme = !$ctrl.hideme"><i class="fa" ng-class="$ctrl.hideme ? 'fa-caret-square-o-right' : 'fa-caret-square-o-left'"></i></div>
    <div id="wrapper" class="container-fluid" ng-class="$ctrl.hideme ? 'home-hide' : ''">
        <div ui-view="" class="animate-view"></div>
    </div>
</div>