<div ng-init="$ctrl.pauseScroll=false">
    <div class="nopadding col-xs-3">
        <div class="row topRow">
            <div class="col-xs-12 fullH">
                <bloqhead-player-box>
                    <bloqhead-player-box-title>
                        <i class="fa fa-list"></i> Log
                        <i class="pull-right fa" ng-class="$ctrl.pauseScroll ? 'fa-play' : 'fa-pause'" ng-click="$ctrl.pauseScroll=!$ctrl.pauseScroll" title="Autoscroll On/Off"></i>
                    </bloqhead-player-box-title>
                    <bloqhead-log pause-scroll="$ctrl.pauseScroll"></bloqhead-log>
                </bloqhead-player-box>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <bloqhead-goal-list></bloqhead-goal-list>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--
                <bloqhead-player-box>
                    <bloqhead-player-box-title>
                        <i class="fa fa-th"></i> Resources
                    </bloqhead-player-box-title>
                    <div class="row">
                        <bloqhead-resource-list></bloqhead-resource-list>
                    </div>
                </bloqhead-player-box>
                -->
            </div>
        </div>
    </div>

    <div class="col-xs-9 fullH nopadding">
        <div ui-view="" class="animate-view"></div>
    </div>
</div>