<div class="col-xs-12">
    <!--
    <div class="row">
        <div class="col-xs-12 panel">

        </div>
    </div>
    -->
    <bloqhead-player-box box-title="Achievements" max-height="600px">
        <div class="row" ng-repeat="ag in $ctrl.achievementSetup.achievementGroups">
            <div class="col-xs-12">
                <h6 ng-bind="ag.name"></h6>
                <div class="row achievement-list" ng-repeat="aid in ag.aids">
                    <div class="col-xs-4 achievement-cell" ng-class="$ctrl.getAchievementClass($ctrl.achievementSetup.achievements[aid])" style="display: inline-block;" tooltip-placement="top" uib-tooltip-template="'achievementTooltip.html'">
                        <p ng-bind="$ctrl.achievementSetup.achievements[aid].name" />
                    </div>
                    <div class="col-xs-1 achievement-rank-cell" ng-repeat="ar in $ctrl.achievementSetup.achievements[aid].ranks" ng-class="$ctrl.getAchievementRankClass($ctrl.achievementSetup.achievements[aid], ar)">
                        <span ng-bind="ar[0]" />
                        <div ng-repeat="p in ar[1]" style="display: inline-block;" tooltip-placement="top" uib-tooltip-template="'perkTooltip.html'">
                            <i class="fa fa-star" data-container="body" data-toggle="tooltip" rel="tooltip" data-placement="top"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </bloqhead-player-box>
    <script type="text/ng-template" id="achievementTooltip.html">
        <div>
            <p ng-bind="$ctrl.achievementSetup.achievements[aid].desc" />
            <p ng-bind="'Total Progress: ' + ($ctrl.achievementService.state.progress.achievements[aid].amount || 0)" />
        </div>
    </script>
    <script type="text/ng-template" id="perkTooltip.html">
        <div>
            <h5 ng-bind="$ctrl.achievementService.getPerkMessage(p, 'name')"></h5>
            <p ng-bind="$ctrl.achievementService.getPerkMessage(p, 'desc')" />
        </div>
    </script>
</div>