<div class="bloqhead-component">
    <h5>
        {{$ctrl.unit.name}} <i class="fa fa-star" ng-repeat="trait in $ctrl.unit.traits" data-container="body" data-toggle="tooltip" rel="tooltip" data-placement="top" title="{{trait.name}}"></i>
    </h5>
    <table class="genomeEditor">
        <thead>
            <tr>
                <th colspan="5"><img class="img-responsive" ng-src="{{$ctrl.unit.redGreenImage}}" /></th>
            </tr>
            <tr>
                <th style="width: 20%">
                    STR
                </th>

                <th style="width: 20%">
                    INT
                </th>

                <th style="width: 20%">
                    END
                </th>

                <th style="width: 20%">
                    CHR
                </th>

                <th style="width: 20%">
                    LCK
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.STR"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.INT"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.END"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.CHR"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.LCK"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-sm btn-primary " ng-click="$ctrl.assignMe() ">Breed Me</button>
    <div class="btn-group">
        <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Work <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a>Mine</a></li>
            <li><a>Farm</a></li>
        </ul>
    </div>
</div>