<div class="bloqhead-component">
    <h4>
        {{$ctrl.unit.name}} <i class="fa fa-star" ng-repeat="trait in $ctrl.unit.traits" data-toggle="tooltip" rel="tooltip" title="{{trait.name}}"></i>
    </h4>   
    <img class="img-responsive" ng-src="{{$ctrl.unit.redGreenImage}}" /> 
    <table class="table table-bordered table-condensed genomeEditor">
        <thead>
            <tr>
                <th style="width: 20%">
                    STR
                </th>

                <th style="width: 20%">
                    INT
                </th>

                <th style="width: 20%">
                    END
                </th>

                <th style="width: 20%">
                    CHR
                </th>

                <th style="width: 20%">
                    LCK
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.STR"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.INT"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.END"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.CHR"></span>
                </td>
                <td>
                    <span ng-bind="$ctrl.unit.attributes.LCK"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>