<div class="">
    <div class="row topRow">
        <div class="col-xs-4 fullH">
            <bloqhead-player-box>
                <bloqhead-player-box-title>
                    <i class="fa fa-th"></i> Resources
                </bloqhead-player-box-title>
                <div class="row">
                    <bloqhead-resource-list hive="$ctrl.hive" assign="$ctrl.assign($id, $jid)"></bloqhead-resource-list>
                </div>
            </bloqhead-player-box>
        </div>
        <div class="col-xs-4 fullH">
            <bloqhead-player-box>
                <bloqhead-player-box-title>
                    <i class="fa fa-building"></i> Hive Expansion
                </bloqhead-player-box-title>
                <bloqhead-building-list hive="$ctrl.hive"></bloqhead-building-list>
            </bloqhead-player-box>
        </div>

        <div class="col-xs-4 fullH">
            <bloqhead-player-box>
                <bloqhead-player-box-title>
                    <i class="icon-foot"></i> Nursery [{{$ctrl.hive.getNurseryCount()}} / {{$ctrl.hive.getNurseryLimit()}}]
                </bloqhead-player-box-title>
                <div class="row breeder-container">
                    <div ng-repeat="child in $ctrl.hive.getBeesByType('egg')" class="col-xs-12 col-lg-12 animate-repeat">
                        <bloqhead-bee mode="NURSE" unit="child" assign="$ctrl.decideFate($id, $type)"></bloqhead-bee>
                    </div>
                    <div ng-repeat="child in $ctrl.hive.getBeesByType('larva')" class="col-xs-12 col-lg-12 animate-repeat">
                        <bloqhead-bee mode="NURSE" unit="child" assign="$ctrl.decideFate($id, $type)"></bloqhead-bee>
                    </div>
                </div>
            </bloqhead-player-box>
        </div>
    </div>
    <div class="row" id="bottomRow">
        <div class="col-xs-8 fullH">
            <bloqhead-map></bloqhead-map>
        </div>
        <div class="col-xs-4 fullH">
            <bloqhead-population-list hive="$ctrl.hive" max-population="$ctrl.hive.getPopulationLimit()"></bloqhead-population-list>
        </div>

    </div>
</div>