<bloqhead-player-box>
    <bloqhead-player-box-title>
        <div class="row">
            <div class="col-xs-5">
                <i class="fa fa-map"></i> Map
            </div>
            <div class="col-xs-7">
                <div class=" pull-right">
                    <span>ID <input type="checkbox" ng-model="$ctrl.mapService.getState().mapconfig.SHOW_HEX_ID" /></span>
                    <span>XY <input type="checkbox" ng-model="$ctrl.mapService.getState().mapconfig.SHOW_HEX_XY" /></span>
                    <span>Zoom:</span>
                    <div class="btn-group" role="group">
                        <div class="btn btn-xs btn-info" ng-click="$ctrl.zoomOut()">-</div>
                        <div class="btn btn-xs btn-info" ng-click="$ctrl.zoomIn()">+</div>
                    </div>
                </div>
            </div>
        </div>
    </bloqhead-player-box-title>
    <div class="row map-container" style="overflow: hidden; background-color: #87F75C; position: relative;">
        <canvas id="map" style="position:absolute;top:0px;left:0px;"></canvas>
    </div>

</bloqhead-player-box>