<bloqhead-player-box>
    <bloqhead-player-box-title>
        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-check-square-o"></i> Goals
            </div>
            <div class="col-xs-3">
                <div class=" pull-right">
                </div>
            </div>
        </div>
    </bloqhead-player-box-title>
    <div class="row goal-container">
        <h4>Active Goals</h4>
        <h4>Daily Goals</h4>
    </div>


</bloqhead-player-box>