<style>
    #font-examples li {
        font-size: 1vw;
        color: gold;
    }
    
    #font-examples input {
        color: black;
    }
</style>
<div id="font-examples">
    <ul class="list-group">
        <li class="list-group-item">
            <i class="icon-trophy"></i>
            <input type="text" readonly="readonly" value="trophy">
        </li>
        <li class="list-group-item">
            <i class="icon-hammer"></i>
            <input type="text" readonly="readonly" value="hammer">
        </li>
        <li class="list-group-item">
            <i class="icon-mortar-board"></i>
            <input type="text" readonly="readonly" value="mortar-board">
        </li>
        <li class="list-group-item">
            <i class="icon-skull"></i>
            <input type="text" readonly="readonly" value="skull">
        </li>
        <li class="list-group-item">
            <i class="icon-foot"></i>
            <input type="text" readonly="readonly" value="foot">
        </li>
        <li class="list-group-item">
            <i class="icon-shield"></i>
            <input type="text" readonly="readonly" value="shield">
        </li>
        <li class="list-group-item">
            <i class="icon-tools"></i>
            <input type="text" readonly="readonly" value="tools">
        </li>
        <li class="list-group-item">
            <i class="icon-broom"></i>
            <input type="text" readonly="readonly" value="broom">
        </li>
        <li class="list-group-item">
            <i class="icon-coins"></i>
            <input type="text" readonly="readonly" value="coins">
        </li>
        <li class="list-group-item">
            <i class="icon-flask"></i>
            <input type="text" readonly="readonly" value="flask">
        </li>
        <li class="list-group-item">
            <i class="icon-bricks"></i>
            <input type="text" readonly="readonly" value="bricks">
        </li>
        <li class="list-group-item">
            <i class="icon-i-beam"></i>
            <input type="text" readonly="readonly" value="i-beam">
        </li>
        <li class="list-group-item">
            <i class="icon-happy"></i>
            <input type="text" readonly="readonly" value="happy">
        </li>
    </ul>
</div>