<style>
    #font-examples {
        height: 90vh;
    }
    
    #font-examples div {
        font-size: 1.1vw;
        color: gold;
    }
    
    #font-examples input {
        color: black;
    }
</style>
<div id="font-examples" ng-init="fonts = ['hammer', 'shield', 'tools', 'happy', 'happy2', 'bee', 'egg','pollen','water','bee-2', 'honeypot', 'larva', 'tombstone']">
    <div class="col-xs-1" ng-repeat="font in fonts|orderBy:font">
        <i class="icon-{{font}}"></i>
        <input type="text" readonly="readonly" value="{{font}}">
    </div>
</div>