<table class="genomeEditor table table-condensed">
    <thead>
        <tr>
            <th>Dominant</th>
            <th>Recessive</th>
            <th>Values</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="gene in ctrl.geneDefinitions">
            <td ng-bind="gene.dom"></td>
            <td ng-bind="gene.rec"></td>
            <td>
                R <input type="number" min="0" max="255" ng-model="genes[$index][0]" />
                G <input type="number" min="0" max="255" ng-model="genes[$index][1]" />
                B <input type="number" min="0" max="255" ng-model="genes[$index][2]" />
            </td>
            <td><button type="button" class="btn btn-xs btn-success" ng-click="randomize(gene);"><i class="fa fa-asterisk"></i></button></td>
        </tr>
    </tbody>
</table>
