 <h4>
     {{$ctrl.unit.name}} <i class="fa fa-star" ng-repeat="trait in $ctrl.unit.traits" data-toggle="tooltip" rel="tooltip" title="{{trait.name}}" ></i>
 </h4>
 <img class="img-responsive" ng-src="{{$ctrl.unit.redGreenImage}}" />
 <div style="height: 400px; overflow-y: scroll; margin-top:5px;">
    <table class="genomeEditor table table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Dominant</th>
                <th>Recessive</th>
                <th>Values</th>
                <th><button type="button" class="btn btn-xs btn-warning" ng-click="$ctrl.randomizeAll();"><i class="fa fa-asterisk"></i></button></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gene in $ctrl.geneDefinitions">
                <td ng-bind="$index"></td>
                <td ng-bind="gene.dom"></td>
                <td ng-bind="gene.rec"></td>
                <td>
                    D <input type="number" min="0" max="255" ng-model="$ctrl.unit.genes[$index][1]" ng-change="$ctrl.unit.update()" />
                    R <input type="number" min="0" max="255" ng-model="$ctrl.unit.genes[$index][0]" ng-change="$ctrl.unit.update()" />
                    M <input type="number" min="0" max="255" ng-model="$ctrl.unit.genes[$index][2]" ng-change="$ctrl.unit.update()" />
                </td>
                <td><button type="button" class="btn btn-xs btn-success" ng-click="$ctrl.randomize($index);"><i class="fa fa-asterisk"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>