<bloqhead-player-box box-title="Population [{{$ctrl.population.length}} / {{$ctrl.maxPopulation}}]">
    <div class="row population-container">
        <div class="col-xs-12">
            <uib-tabset type="pills">
                <div uib-tab class="panel-default" heading="Gender View">
                    <div class="col-xs-6">
                        <h6><i class="fa fa-male male-color"></i> Males</h6>
                        <bloqhead-population-panel population="$ctrl.population" filter="{traits:['Male']}"></bloqhead-population-panel>
                    </div>
                    <div class="col-xs-6">
                        <h6><i class="fa fa-female female-color "></i> Females</h6>
                        <bloqhead-population-panel population="$ctrl.population" filter="{traits:['Female']}"></bloqhead-population-panel>
                    </div>
                </div>
                <div uib-tab class="panel-default" heading="Custom View">
                    <div class="col-xs-6">
                        <bloqhead-population-panel population="$ctrl.population" filter="{traits:['Male']}"></bloqhead-population-panel>
                    </div>
                </div>

            </uib-tabset>


        </div>


        <!--
            <bloqhead-mortal ng-repeat="child in $ctrl.population | orderBy: '-dt' " display="LIST " mode="POP " can-breed="$ctrl.canBreed " unit="child " assign="$ctrl.breederAssign({$id:$id, $type:$type}) "></bloqhead-mortal>
        -->
    </div>


</bloqhead-player-box>