<div class="population-panel">
    <table>
        <!--
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>
                <table style="min-width: 10vw;">
                    <tbody>
                        <tr>
                            <td style="width: 20%">STR</td>
                            <td style="width: 20%">INT</td>
                            <td style="width: 20%">END</td>
                            <td style="width: 20%">CHR</td>
                            <td style="width: 20%">LCK</td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    -->
        <tbody>
            <tr ng-repeat="unit in $ctrl.population | applyPopulationFilter: $ctrl.filter | orderBy: $ctrl.orderBy" class="population-list animate-repeat">
                <td class="mortal-name" ng-switch="unit.hasTrait('Male')" lvl-draggable="true" data-breederid="{{unit.id}}" ng-click="$ctrl.parent.showDetails(unit)">
                    <span>
                        <i title="Male" class="fa fa-male male-color" ng-switch-when="true"></i><i title="Female" class="fa fa-female female-color" ng-switch-when="false"></i>
                    </span>
                    <span>                        
                        <i title="{{unit.onStrike ? 'On strike!' : $ctrl.parent.jobTypes[unit.jid].name}}" class="fa fa-fw" ng-class="$ctrl.getWorkerIcon(unit.onStrike, $ctrl.parent.jobTypes[unit.jid].resource)" data-attr="{{$ctrl.resourceTypes[$ctrl.parent.jobTypes[unit.jid].resource].attr}}"></i>
                    </span>

                    <span>{{unit.name}}</span>
                </td>
                <td class="mortal-genome" uib-tooltip-template="'attrTooltip.html'" tooltip-class="trait-tooltip">
                    <table class="genomeEditor">
                        <thead>
                            <tr>
                                <th colspan="5"><img class="img-responsive" ng-src="{{unit.redGreenImage}}" ng-mousemove="$ctrl.imageHover($event)" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 20%;" ng-mouseover="$ctrl.hoverAttr = 'STR'">
                                    {{unit.attributes.STR}}
                                </td>
                                <td style="width: 20%" ng-mouseover="$ctrl.hoverAttr = 'INT'">
                                    {{unit.attributes.INT}}
                                </td>
                                <td style="width: 20%" ng-mouseover="$ctrl.hoverAttr = 'END'">
                                    {{unit.attributes.END}}
                                </td>
                                <td style="width: 20%" ng-mouseover="$ctrl.hoverAttr = 'CHR'">
                                    {{unit.attributes.CHR}}
                                </td>
                                <td style="width: 20%" ng-mouseover="$ctrl.hoverAttr = 'LCK'">
                                    {{unit.attributes.LCK}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <span ng-repeat="trait in unit.traits"><i class="fa fa-star" uib-tooltip-template="'traitTooltip.html'" tooltip-class="trait-tooltip"></i></span>
                </td>

                <!--
                <td>
                    <button ng-disabled="!$ctrl.parent.canBreed" class="btn btn-xs btn-primary" ng-click="$ctrl.parent.breederAssign({$id:unit.id})">Breed Me</button>
                </td>
                <td>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body="true">
                        <button type="button" class="btn btn-xs btn-primary" uib-dropdown-toggle><span ng-bind="$ctrl.parent.jobTypes[unit.currentJob].name"></span><span class="caret"></span></button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-repeat="(key, job) in $ctrl.parent.jobTypes">
                                <a href="javascript:void(0);" ng-bind="job.name" ng-click="$ctrl.parent.breederAssign({$id:unit.id, $type:key})"></a>
                            </li>
                        </ul>
                    </div>
                </td>
                -->
            </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="traitTooltip.html">
    <div class="text-center">
        <h4>{{trait.name}}</h4>
        <div class="genes-table">
            <div class="genes-tr">
                <div class="genes-th rec">Recessive</div>
                <div class="genes-th"><span class="pull-left">-255</span> 0 <span class="pull-right">+255</span></div>
                <div class="genes-th dom ">Dominant</div>
            </div>
            <div class="genes-tr " ng-repeat="gene in trait.genes">
                <div class="genes-td rec " ng-bind="$ctrl.geneDefinitions[gene[0]].rec "></div>
                <div class="genes-td" data-attr="{{$ctrl.geneDefinitions[gene[0]].attr}}">
                    <div class="progress progress-trait-selector" style="position:relative;">
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneValueStyle(unit.genes[gene[0]]) "></div>
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneTraitRangeStyle($ctrl.geneDefinitions[gene[0]], trait)"></div>
                    </div>
                </div>
                <div class="genes-td dom" ng-bind="$ctrl.geneDefinitions[gene[0]].dom"></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</script>
<script type="text/ng-template" id="attrTooltip.html">
    <div class="text-center">
        <h4>{{$ctrl.attributes[$ctrl.hoverAttr].name}}</h4>
        <h5>{{$ctrl.attributes[$ctrl.hoverAttr].desc}}</h5>
        <br />
        <div class="genes-table">
            <div class="genes-tr " ng-repeat="gene in $ctrl.geneDefinitions | filter:{attr: $ctrl.hoverAttr}" ng-if="unit.genesUnlocked.indexOf($ctrl.geneDefinitions.indexOf(gene)) >=0">
                <div class="genes-td rec"><span ng-bind="gene.rec"></span>: <span ng-bind="{{-1*unit.genes[$ctrl.geneDefinitions.indexOf(gene)][0]}}"></span></div>
                <div class="genes-td" data-attr="{{$ctrl.hoverAttr}}">
                    <div class="progress progress-trait-selector" style="position:relative;">
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneValueStyle(unit.genes[$ctrl.geneDefinitions.indexOf(gene)]) "></div>
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneRangeStyle(unit.genes[$ctrl.geneDefinitions.indexOf(gene)])"></div>
                    </div>
                </div>
                <div class="genes-td dom"><span ng-bind="gene.dom"></span>: <span ng-bind="unit.genes[$ctrl.geneDefinitions.indexOf(gene)][1]"></span></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</script>
<script type="text/ng-template" id="carousel.html">
    <span class="carousel-inner" ng-transclude></span>

</script>