<bloqhead-player-box>
    <bloqhead-player-box-title>
        <div class="row">
            <div class="col-xs-9">
                <i class="fa fa-globe"></i> Population [{{$ctrl.population.length}} / {{$ctrl.maxPopulation}}]
            </div>
            <div class="col-xs-3">
                <div class=" pull-right">
                </div>
            </div>
        </div>
    </bloqhead-player-box-title>
    <div class="row population-container">
        <div class="col-xs-12">
            <uib-tabset type="pills">

                <div uib-tab template-url="tab.html" heading="Gender View">
                    <div class="col-xs-6 col-lg-6">
                        <h4>Queen</h4>
                        <bloqhead-population-panel bees="$ctrl.bees" filter="{type:'queen',traits:[]}"></bloqhead-population-panel>
                        <h4>Workers</h4>
                        <bloqhead-population-panel bees="$ctrl.bees" filter="{type:'worker',traits:[]}"></bloqhead-population-panel>
                        <h4>Drones</h4>
                        <bloqhead-population-panel bees="$ctrl.bees" filter="{type:'drone',traits:[]}"></bloqhead-population-panel>
                    </div>
                </div>

                <div uib-tab template-url="tab.html" heading="Custom View">

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn btn-xs btn-primary trait-filter-item" ng-repeat="c in $ctrl.criteria" ng-click="$ctrl.deleteCriteria($index)">
                                    <div ng-if="c.type='trait'">
                                        <span ng-bind="c.val.name"></span>
                                        <button type="button" class="close" ng-click="$ctrl.deleteCriteria($index)"><span>×</span></button>
                                    </div>
                                </div>
                                <button class="btn btn-xs btn-primary" type="button" href="javascript:void(0);" ng-click="$ctrl.openTraitSelector()">Add Filter</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <bloqhead-population-panel bees="$ctrl.hive" filter="$ctrl.getCustomFilter()"></bloqhead-population-panel>
                            </div>
                        </div>
                    </div>


                </div>
            </uib-tabset>
        </div>
    </div>


</bloqhead-player-box>
<script type="text/ng-template" id="tab.html">

    <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item tab-list-button">
        <button ng-click="select($event)" class="btn btn-xs">{{heading}}</button>
    </li>

</script>