<div class="population-panel">
    <table>
        <tr ng-repeat="bee in $ctrl.population | applyPopulationFilter: $ctrl.filter | orderBy: $ctrl.orderBy" class="population-list animate-repeat">
            <td>
                <span ng-bind="bee.name"></span>&nbsp;<i class="fa {{trait.icon}}" ng-repeat="trait in bee.traits" uib-tooltip-template="'traitTooltip.html'" tooltip-class="trait-tooltip"></i>
            </td>
        </tr>
    </table>

</div>

<script type="text/ng-template" id="traitTooltip.html">
    <div class="text-center">
        <h4>{{trait.name}}</h4>
        <div class="genes-table">
            <div class="genes-tr">
                <div class="genes-th rec">Recessive</div>
                <div class="genes-th"><span class="pull-left">-255</span> 0 <span class="pull-right">+255</span></div>
                <div class="genes-th dom ">Dominant</div>
            </div>
            <div class="genes-tr " ng-repeat="gene in trait.genes">
                <!--<div class="genes-td rec " ng-bind="$ctrl.geneDefinitions[gene[0]].rec "></div>
                <div class="genes-td" data-attr="{{$ctrl.geneDefinitions[gene[0]].attr}}">
                    <div class="progress progress-trait-selector" style="position:relative;">
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneValueStyle(unit.genes[gene[0]]) "></div>
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneTraitRangeStyle($ctrl.geneDefinitions[gene[0]], trait)"></div>
                    </div>
                </div>
                <div class="genes-td dom" ng-bind="$ctrl.geneDefinitions[gene[0]].dom"></div>-->
            </div>
        </div>
        <br />
        <br />
    </div>
</script>
<script type="text/ng-template" id="attrTooltip.html">
    <div class="text-center">
        <h4>{{$ctrl.attributes[$ctrl.hoverAttr].name}}</h4>
        <h5>{{$ctrl.attributes[$ctrl.hoverAttr].desc}}</h5>
        <br />
        <div class="genes-table">
            <!--<div class="genes-tr " ng-repeat="gene in $ctrl.geneDefinitions | filter:{attr: $ctrl.hoverAttr}" ng-if="unit.genesUnlocked.indexOf($ctrl.geneDefinitions.indexOf(gene)) >=0">
                <div class="genes-td rec"><span ng-bind="gene.rec"></span>: <span ng-bind="{{-1*unit.genes[$ctrl.geneDefinitions.indexOf(gene)][0]}}"></span></div>
                <div class="genes-td" data-attr="{{$ctrl.hoverAttr}}">
                    <div class="progress progress-trait-selector" style="position:relative;">
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneValueStyle(unit.genes[$ctrl.geneDefinitions.indexOf(gene)]) "></div>
                        <div class="progress-bar " role="progressbar " aria-valuemin="-255" aria-valuemax="255" ng-style="$ctrl.getGeneRangeStyle(unit.genes[$ctrl.geneDefinitions.indexOf(gene)])"></div>
                    </div>
                </div>
                <div class="genes-td dom"><span ng-bind="gene.dom"></span>: <span ng-bind="unit.genes[$ctrl.geneDefinitions.indexOf(gene)][1]"></span></div>-->
        </div>
    </div>
    <br />
    <br />
    </div>
</script>